@import url("https://fonts.googleapis.com/css?family=Numans");

body::after {
  /* background: url("../../img/CN-LINEDATA-CAPTURE-51.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  bottom: 0;
  font-family: "Numans", sans-serif;
  opacity: 0.5;
  position: fixed;
}

.container {
  align-content: center;
  height: 100% !important;
}
.card {
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-title {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #dd0031;
  color: gray;
  border: 0 !important;
}

Input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black !important;
  background-color: #dd0031 !important;
  width: 100px !important;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
